<section class="mt-5">
    <div class="col-lg-5 m-auto" *ngIf="!isStartedSurvey">
        <div class="card card-body shadow-sm mt-5">
            <div class="text-center">
                <img src="../../assets/survey.png" height="75" width="75" alt="logo" />
                <h4 class="mt-3">Welcome to Survey</h4>
                <i class="text-primary">{{survey.surveyName}}</i>
                <div class="">

                </div>
                <p>Please click on continue to start survey</p>
                <button (click)="startSurvey()" [disabled]="status !== 'Active'" class="btn btn-primary w-50">Continue
                    -></button>
                <div *ngIf="status === 'Upcoming'">
                    <p class="text-danger mt-3 mb-0">
                        Note: The survey will start at {{survey.surveyStartDate | date }}
                    </p>
                </div>
            </div>
            <div class="text-warning text-center mt-3">
                <small>Note: Dont refresh or go back after starting Survey</small>
            </div>
        </div>
    </div>
    <div class="col-lg-8 m-auto" *ngIf="isStartedSurvey">
        <div class="card card-body shadow-sm">
            <h5> {{questionIndex+1}}) <span *ngIf="survey.questions">{{survey.questions[questionIndex].question}}</span>
            </h5>

            <form #frm="ngForm" (ngSubmit)="handleQuestionSubmit(frm)">
                <div class="mt-2">
                    <div *ngIf="survey.questions[questionIndex].questionType === 'single'">
                        <div *ngFor="let myOption of survey.questions[questionIndex].options">
                            <input required ngModel id="{{myOption}}" type="radio" name="answer" [value]="myOption" />
                            <label for="{{myOption}}"> &nbsp;{{myOption}}</label>
                        </div>
                    </div>
                    <div *ngIf="survey.questions[questionIndex].questionType === 'multiple'">
                        <div *ngFor="let myOption of survey.questions[questionIndex].options; let i = index">
                            <input ngModel id="{{myOption}}" type="checkbox" name="{{myOption}}" />
                            <label for="{{myOption}}"> &nbsp;{{myOption}}</label>
                        </div>
                    </div>
                    <div *ngIf="survey.questions[questionIndex].questionType === 'summery'">
                        <textarea required name="answer" ngModel placeholder="Please type your answer here"
                            class="form-control"></textarea>
                    </div>
                </div>
                <hr />
                <div class="text-right">
                    <button [disabled]="!frm.valid" type="submit" class="btn btn-sm btn-primary"
                        [ngClass]="{'btn-success':isShowFinalButton}">
                        {{isShowFinalButton ? "Finish":"Next"}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>